In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('codeit/young_survey.csv')
df.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Spending on looks,Spending on gadgets,Spending on healthy eating,Age,Height,Weight,Number of siblings,Gender,Handedness,Education
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,3.0,1,3.0,20.0,163.0,48.0,1.0,female,right,bachelor's degree
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,2.0,5,2.0,19.0,163.0,58.0,2.0,female,right,bachelor's degree
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,3.0,4,2.0,20.0,176.0,67.0,2.0,female,right,high school
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,4.0,4,1.0,22.0,172.0,59.0,1.0,female,right,bachelor's degree
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,3.0,2,4.0,20.0,170.0,59.0,1.0,female,right,high school

In [3]:
df.corr().loc['Musical instruments', 'Writing']

0.3438162143904336

In [4]:
df.corr().loc['Spending on looks', 'Branded clothing']

0.4183989446458902

In [5]:
df.corr().loc['Writing notes', 'New environment']

-0.07939652994810617

In [9]:
df.corr().loc['Workaholism', 'Healthy eating']

0.23864443283866715

In [10]:
df.corr().loc['Prioritising workload', 'Healthy eating']

0.2421311819863002